<h1>Listing drug_items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drug_items.each do |drug_item| %>
      <tr>
        <td><%= link_to 'Show', drug_item %></td>
        <td><%= link_to 'Edit', edit_drug_item_path(drug_item) %></td>
        <td><%= link_to 'Destroy', drug_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug item', new_drug_item_path %>
