@import "bootstrap";
/* universal */
html {
overflow-y: scroll;
}
body {
padding-top: 60px;
background-color: #eee;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}
h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #999;
}
p {
font-size: 1.1em;
line-height: 1.7em;
}

/* forms */
input, textarea, select, .uneditable-input {
border: 1px solid #bbb;
width: 75%;
height: 30px;
margin-bottom: 10px;
margin-top: 10px;
}
input {
height: auto !important;

}
#error_explanation {
color: #f00;
ul {
list-style: none;
margin: 0 0 18px 0;
}
}

.btn{
	margin-top: 0px;
}
input[type="text"]{
	font-size: 28px;
	line-height: 30px;
}
