<p>
  <strong>Producer:</strong>
  <%= @drugs.first.producer%>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @drugs.first.name %>
  </p>
  <p>
    <strong>Producr_name:</strong>
  <%= @drugs.first.product_name %>
  </p>
  <p>
   <strong>Symptom:</strong>
  <%= @drugs.first.symptom%>
</p>