<p>
  <strong>Producer:</strong>
 <%= @drugs .first.producer%>
</p>
<p>
  <strong>Name:</strong>
  <%= @drugs%>
  <p>
    <strong>Producr_name:</strong>
  <%= @drugs %>
  </p>
  <p>
   <strong>Symptom:</strong>
  <%= @drugs%>
</p>